.container {
  font-size: large;
}

.greeting {
  padding: .3em 1em;
  background-color: lightblue;
}

.stub {
  padding: .3em 1em;
  background-color: black;
  color: white;
}

.stub > code {
  color: lightblue;
}
