@import "~normalize.css";
@import "~flexboxgrid";

@import "./variables.css";

html {
  box-sizing: border-box;
}

/* box-sizing reset based on html's value */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
